In [1]:
from pathlib import Path
from pyphm.datasets.airbus import AirbusDataLoad, AirbusPrepMethodA
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
root_dir = Path.cwd().parent
print(root_dir)
path_data_raw_folder = Path(root_dir / 'data/raw/' )
print(path_data_raw_folder)

c:\_Python\PyPHM
c:\_Python\PyPHM\data\raw

In [3]:
air = AirbusPrepMethodA(path_data_raw_folder, download=False, window_size=512, stride=256,)

In [4]:
x, y = air.create_xy_arrays(train_or_val="val")
print('x.shape:', x.shape)
print('y.shape:', y.shape)

x.shape: (594, 239, 512)
y.shape: (594, 239, 512, 4)

In [4]:
df = air.create_xy_dataframe(train_or_val="val")
print(df.shape)
df.head()

(72686592, 5)

          x  time_index  sample_index  win_index  y
0  0.070650           0             0          0  0
1  0.085524           1             0          0  0
2  0.076847           2             0          0  0
3  0.085524           3             0          0  0
4  0.120229           4             0          0  0

In [5]:
# x, y = air.create_xy_arrays(train_or_val="train")
print('x.shape:', x.shape)
print('y.shape:', y.shape)

x.shape: (594, 239, 512)
y.shape: (594, 239, 512, 4)

In [5]:
np.vstack(x).shape

(141966, 512)

In [6]:
np.vstack(y).shape

(141966, 512, 4)

In [117]:
y[0,0,:,0][:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
df = pd.DataFrame(np.vstack(x).reshape(-1,1), columns=['x'])
print(df.shape)
df.head()

(72686592, 1)

          x
0  0.070650
1  0.085524
2  0.076847
3  0.085524
4  0.120229

In [7]:
# y_time_sig_win_label_array
# time_index, sig_index, win_index, labels

df = df.assign(time_index=np.vstack(y[:,:,:,0]).reshape(-1,1))
df = df.assign(sample_index=np.vstack(y[:,:,:,1]).reshape(-1,1))
df = df.assign(win_index=np.vstack(y[:,:,:,2]).reshape(-1,1))
df = df.assign(y=np.vstack(y[:,:,:,3]).reshape(-1,1))
df.head()

          x  time  sig_index  win_index  y
0  0.070650     0          0          0  0
1  0.085524     1          0          0  0
2  0.076847     2          0          0  0
3  0.085524     3          0          0  0
4  0.120229     4          0          0  0

(239, 594, 512)

In [ ]:
df = df.assign(sig_index=)
df = df.assign(win_index=np.repeat(np.expand_dims(y[:,:,1].astype(int), axis=1), 512, axis=1).reshape(-1,1)[:,0])
df = df.assign(y=np.repeat(np.expand_dims(y[:,:,2].astype(int), axis=1), 512, axis=1).reshape(-1,1)[:,0])

In [102]:
a = np.arange(0, 512, 1)[np.newaxis, np.newaxis, :].repeat(594, axis=1).repeat(239, axis=0)[:, :, :, np.newaxis]
a.shape

(239, 594, 512, 1)

In [104]:
b = y[:, :, np.newaxis].repeat(512, axis=2)
b.shape

(239, 594, 512, 3)

In [105]:
c = np.concatenate((a, b), axis=3)
c.shape

(239, 594, 512, 4)

In [75]:
# a = np.arange(0, 512, 1)
# print(a.shape)
# a = np.expand_dims(np.arange(0, 512, 1), (0,1))
# print(a.shape)
a = np.expand_dims(np.repeat(np.repeat(np.expand_dims(np.arange(0, 512, 1), (0,1)), 594, axis=1), 239, axis=0), axis=-1)

print(a.shape)

(239, 594, 512, 1)

In [76]:
b = np.repeat(np.expand_dims(y, axis=2), 512, axis=2)
b.shape

(239, 594, 512, 3)

In [84]:
c = np.concatenate((a, b), axis=3)
c.shape

(239, 594, 512, 4)

In [91]:
c[0, 0, :, 3]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

In [83]:
c.shape

(239, 594, 512, 4)

In [80]:
c = np.stack((a, b))

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 3, the array at index 0 has size 1 and the array at index 1 has size 3

In [70]:
a[0,0,:]

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511])

In [53]:
a = np.repeat(np.expand_dims(np.arange(0, 512, 1),(1,2)), x.shape[1], axis=1)
a.shape

(512, 594, 1)

In [51]:
a[0,]

array([[[  0],
        [  0],
        [  0],
        ...,
        [  0],
        [  0],
        [  0]],

       [[  1],
        [  1],
        [  1],
        ...,
        [  1],
        [  1],
        [  1]],

       [[  2],
        [  2],
        [  2],
        ...,
        [  2],
        [  2],
        [  2]],

       ...,

       [[236],
        [236],
        [236],
        ...,
        [236],
        [236],
        [236]],

       [[237],
        [237],
        [237],
        ...,
        [237],
        [237],
        [237]],

       [[238],
        [238],
        [238],
        ...,
        [238],
        [238],
        [238]]])

In [42]:
np.repeat(np.expand_dims(y, axis=1), 512, axis=1).reshape(-1, 512, 3).shape

(141966, 512, 3)

In [35]:
df = pd.DataFrame(x.reshape(-1,1))
print(df.shape)
df.head()

(72686592, 1)

          0
0  0.070650
1  0.085524
2  0.076847
3  0.085524
4  0.120229

In [32]:
np.repeat(np.expand_dims(y[:,:,0].astype(int), axis=1), 512, axis=1).reshape(-1,1)[:,0].shape

(72686592,)

In [36]:
df = df.assign(sig_index=np.repeat(np.expand_dims(y[:,:,0].astype(int), axis=1), 512, axis=1).reshape(-1,1)[:,0])
df = df.assign(win_index=np.repeat(np.expand_dims(y[:,:,1].astype(int), axis=1), 512, axis=1).reshape(-1,1)[:,0])
df = df.assign(y=np.repeat(np.expand_dims(y[:,:,2].astype(int), axis=1), 512, axis=1).reshape(-1,1)[:,0])

In [38]:
df = df.sort_values(by=['sig_index', 'win_index'])
df.head()

              0  sig_index  win_index  y
0      0.070650          0          0  0
594   -3.012913          0          0  0
1188   0.261146          0          0  0
1782   0.018421          0          0  0
2376 -18.187660          0          0  0

In [37]:
df.head()

          0  sig_index  win_index  y
0  0.070650          0          0  0
1  0.085524          1          0  1
2  0.076847          2          0  0
3  0.085524          3          0  0
4  0.120229          4          0  1

In [ ]:
y = np.repeat(y, 512, axis=1)

MemoryError: Unable to allocate 5.96 GiB for an array with shape (141966, 1024) and data type <U11

In [ ]:
np.repeat(np.expand_dims(y.astype(int), axis=1), 512, axis=1)[:,:,0].reshape(-1,1)[:,0].shape

In [7]:
df.head()

          0  y  id
0  0.070650  0   0
1  0.085524  0   0
2  0.076847  0   0
3  0.085524  0   0
4  0.120229  0   0

In [6]:
# np.repeat(np.expand_dims(y, axis=1), 512, axis=1)[:,:,0].reshape(-1,1).shape

In [10]:
df = df.assign(pd.Series(np.repeat(np.expand_dims(y.astype(int), axis=1), 512, axis=1)[:,:,0].reshape(-1,1)[:,0], name='y', dtype=int))

TypeError: assign() takes 1 positional argument but 2 were given

In [7]:
df['y'] = np.repeat(np.expand_dims(y.astype(int), axis=1), 512, axis=1)[:,:,0].reshape(-1,1)

In [9]:
df.head()

          0  y
0  0.070650  0
1  0.085524  0
2  0.076847  0
3  0.085524  0
4  0.120229  0

In [40]:
df['y'] = y[:,0]
df['id'] = y[:,1]
df.shape

(141966, 514)

In [41]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,504,505,506,507,508,509,510,511,y,id
0,0.070650,0.085524,0.076847,0.085524,0.120229,0.140061,0.107834,0.048340,0.014874,0.030987,...,0.084284,0.061974,0.057016,0.059495,0.074368,0.114032,0.163611,0.179724,0,0_0
1,-0.300685,-0.882656,-1.733789,-2.181179,-1.942328,-1.719240,-1.981126,-2.323034,-2.325459,-2.349708,...,-1.260937,-0.936003,0.484976,1.117869,-0.043648,-1.600420,-2.794674,-3.814335,1,1_0
2,-0.056398,-0.152028,-0.058850,0.140994,0.170419,0.154480,0.270954,0.359228,0.334708,0.349420,...,0.229269,0.207200,0.181453,0.039233,-0.089501,-0.129960,-0.165515,-0.214556,0,2_0
3,0.030618,0.020412,0.058747,0.124712,0.155828,0.161553,0.167777,0.170515,0.165038,0.141141,...,-0.141888,-0.114008,-0.053519,0.010704,0.062978,0.101313,0.117742,0.113511,0,3_0
4,-1.071597,-6.912540,-13.677612,-16.463519,-15.790084,-11.653620,-7.668311,-9.942997,-14.321553,-13.704648,...,-5.791787,-2.969013,-4.240920,-5.800389,-4.162271,-0.415367,1.442724,-0.152383,1,4_0

In [43]:
df = pd.melt(df, id_vars=['y', 'id'],)

In [44]:
df.head()

   y   id variable     value
0  0  0_0        0  0.070650
1  1  1_0        0 -0.300685
2  0  2_0        0 -0.056398
3  0  3_0        0  0.030618
4  1  4_0        0 -1.071597

In [45]:
df.sort_values(by=['id', 'variable'], inplace=True)

In [33]:
y = np.repeat(y, 512, axis=1)

MemoryError: Unable to allocate 5.96 GiB for an array with shape (141966, 1024) and data type <U11

In [26]:
# x = np.expand_dims(x, axis=2)
print(x.shape)
# x = np.reshape(x, (-1, 1))
# print(x.shape)

(141966, 512, 1)

In [27]:
y = np.expand_dims(y, axis=1)
y = np.repeat(y, 512, axis=1)
# y = np.reshape(y, (-1, 2))
y.shape

(141966, 512, 2)

In [31]:
np.vstack((x, y))

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 2, the array at index 0 has size 1 and the array at index 1 has size 2

In [10]:
x = np.hstack((x[:,:,0], y[:,:,0], y[:,:,1]))
x.shape

MemoryError: Unable to allocate 26.0 GiB for an array with shape (141966, 1536) and data type <U32

In [8]:
y = np.reshape(y, (-1,2))

In [9]:
y.shape

(72686592, 2)

In [11]:
df = pd.DataFrame(y, columns=['x','y'],)
df.head()

   x    y
0  0  0_0
1  0  0_0
2  0  0_0
3  0  0_0
4  0  0_0

In [10]:
y[0:3,:]

array([['0', '0_0'],
       ['0', '0_0'],
       ['0', '0_0']], dtype='<U11')

In [9]:
# concatenate the x and y arrays and reshape them to be a flat array (2D)
x = np.reshape(np.concatenate((x, y), axis=2), (-1, 1))
x.shape

MemoryError: Unable to allocate 26.0 GiB for an array with shape (141966, 512, 3) and data type <U32

In [5]:
df = pd.DataFrame(x)

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,0.070650,0.085524,0.076847,0.085524,0.120229,0.140061,0.107834,0.048340,0.014874,0.030987,...,0.136342,0.116511,0.084284,0.061974,0.057016,0.059495,0.074368,0.114032,0.163611,0.179724
1,-0.300685,-0.882656,-1.733789,-2.181179,-1.942328,-1.719240,-1.981126,-2.323034,-2.325459,-2.349708,...,-0.508012,-0.659567,-1.260937,-0.936003,0.484976,1.117869,-0.043648,-1.600420,-2.794674,-3.814335
2,-0.056398,-0.152028,-0.058850,0.140994,0.170419,0.154480,0.270954,0.359228,0.334708,0.349420,...,0.258693,0.311413,0.229269,0.207200,0.181453,0.039233,-0.089501,-0.129960,-0.165515,-0.214556
3,0.030618,0.020412,0.058747,0.124712,0.155828,0.161553,0.167777,0.170515,0.165038,0.141141,...,-0.071442,-0.126206,-0.141888,-0.114008,-0.053519,0.010704,0.062978,0.101313,0.117742,0.113511
4,-1.071597,-6.912540,-13.677612,-16.463519,-15.790084,-11.653620,-7.668311,-9.942997,-14.321553,-13.704648,...,-11.617982,-10.856067,-5.791787,-2.969013,-4.240920,-5.800389,-4.162271,-0.415367,1.442724,-0.152383

In [11]:
# create combined pandas dataframe from x and y
df = pd.DataFrame(np.concatenate((x, y), axis=1),)

In [24]:
y[593,:]

array(['1', '593_0'], dtype='<U11')

In [23]:
a = np.array([1,2,3,4,5,6,7,8,9,10])
b = np.array(['a','b','c','d','e','f','g','h','i','j'])

print(a.shape)

(10,)

In [25]:
a.expand(axis=1)

AttributeError: 'numpy.ndarray' object has no attribute 'expand'

In [19]:
a = np.expand_dims(a, axis=1)
b = np.expand_dims(b, axis=1)

print(a.shape)

(10, 1)

In [21]:
c = np.hstack((a,b))
c.shape

(10, 2)

In [22]:
c

array([['1', 'a'],
       ['2', 'b'],
       ['3', 'c'],
       ['4', 'd'],
       ['5', 'e'],
       ['6', 'f'],
       ['7', 'g'],
       ['8', 'h'],
       ['9', 'i'],
       ['10', 'j']], dtype='<U11')

In [109]:
y.shape

(141966, 2)

In [111]:
y[0,:]

array(['0_0', '0_1'], dtype='<U11')

In [98]:
print(y.shape)
y[:,0]

(2, 594, 239)

array([['0_0', '0_1', '0_2', '0_3', '0_4', '0_5', '0_6', '0_7', '0_8',
        '0_9', '0_10', '0_11', '0_12', '0_13', '0_14', '0_15', '0_16',
        '0_17', '0_18', '0_19', '0_20', '0_21', '0_22', '0_23', '0_24',
        '0_25', '0_26', '0_27', '0_28', '0_29', '0_30', '0_31', '0_32',
        '0_33', '0_34', '0_35', '0_36', '0_37', '0_38', '0_39', '0_40',
        '0_41', '0_42', '0_43', '0_44', '0_45', '0_46', '0_47', '0_48',
        '0_49', '0_50', '0_51', '0_52', '0_53', '0_54', '0_55', '0_56',
        '0_57', '0_58', '0_59', '0_60', '0_61', '0_62', '0_63', '0_64',
        '0_65', '0_66', '0_67', '0_68', '0_69', '0_70', '0_71', '0_72',
        '0_73', '0_74', '0_75', '0_76', '0_77', '0_78', '0_79', '0_80',
        '0_81', '0_82', '0_83', '0_84', '0_85', '0_86', '0_87', '0_88',
        '0_89', '0_90', '0_91', '0_92', '0_93', '0_94', '0_95', '0_96',
        '0_97', '0_98', '0_99', '0_100', '0_101', '0_102', '0_103',
        '0_104', '0_105', '0_106', '0_107', '0_108', '0_109', '0_110',
        '0_111', '0_112', '0_113', '0_114', '0_115', '0_116', '0_117',
        '0_118', '0_119', '0_120', '0_121', '0_122', '0_123', '0_124',
        '0_125', '0_126', '0_127', '0_128', '0_129', '0_130', '0_131',
        '0_132', '0_133', '0_134', '0_135', '0_136', '0_137', '0_138',
        '0_139', '0_140', '0_141', '0_142', '0_143', '0_144', '0_145',
        '0_146', '0_147', '0_148', '0_149', '0_150', '0_151', '0_152',
        '0_153', '0_154', '0_155', '0_156', '0_157', '0_158', '0_159',
        '0_160', '0_161', '0_162', '0_163', '0_164', '0_165', '0_166',
        '0_167', '0_168', '0_169', '0_170', '0_171', '0_172', '0_173',
        '0_174', '0_175', '0_176', '0_177', '0_178', '0_179', '0_180',
        '0_181', '0_182', '0_183', '0_184', '0_185', '0_186', '0_187',
        '0_188', '0_189', '0_190', '0_191', '0_192', '0_193', '0_194',
        '0_195', '0_196', '0_197', '0_198', '0_199', '0_200', '0_201',
        '0_202', '0_203', '0_204', '0_205', '0_206', '0_207', '0_208',
        '0_209', '0_210', '0_211', '0_212', '0_213', '0_214', '0_215',
        '0_216', '0_217', '0_218', '0_219', '0_220', '0_221', '0_222',
        '0_223', '0_224', '0_225', '0_226', '0_227', '0_228', '0_229',
        '0_230', '0_231', '0_232', '0_233', '0_234', '0_235', '0_236',
        '0_237', '0_238'],
       ['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
        '0', '0', '0', '0', '0']], dtype='<U11')

In [90]:
y = y.reshape(-1, 2)

In [91]:
y.shape

(141966, 2)

In [92]:
y[1,:]

array(['0_2', '0_3'], dtype='<U11')

In [75]:
y = y.reshape(-1, 2)
print(y.shape)
y[2,:]

(142560, 2)

array(['4_0', '5_0'], dtype='<U11')

In [76]:
y[:,2]

IndexError: index 2 is out of bounds for axis 1 with size 2

In [53]:
y[0, 0]

'0_0'

In [35]:
y[0]

array(['0', '1'], dtype='<U6')

In [20]:
x.shape

(402480, 256)

In [21]:
y.shape

(402480, 2)

In [22]:
y[0,:]

array([0, 0], dtype=object)